@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
img {
  animation: fadeIn 0.7s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  margin-right: 10px;
}
::-webkit-scrollbar-corner {
  border: none;
  background: none;
}
::-webkit-scrollbar-thumb {
  background-color: #3d3c42;
  border-radius: 3px;
  cursor: move;
}
::-webkit-scrollbar-track {
  /* background-color: #161616; */
  border: none;
}
